body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
}

.col {
    height: 65px;
    width: 65px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}